* {
  margin: 0;
  padding: 0;
}

/* global styles */

.link-no-decoration {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Arial MT";
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background-color: #000000;
}

.container-inner {
    width: 1200px;
    display: flex;
}

.flex {
    display: flex;
}

.vertical-center {
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

/* Header */

.header {
  font-size: 11px;
  color: #ffffff;
  min-height: 30px;
  justify-content: space-between;
  width: 100%;
}

.header .info {
    display: inline-flex;
    align-items: flex-end;
}

.header .number {
    font-size: 12px;
}

.header .links {
    display: flex;
}

.header .select,
.header .account,
.header .search {
    height: 30px;
    border-left: 1px solid #444;
    padding: 0 15px;
}

.header .account .icon {
    margin-right: 10px;
}

.header .search {
    padding: 0 10px;
    border-right: 1px solid #444;
}

@media screen and (max-width: 640px) {
    .header,
    .haeder .info {
        display: block;
    }

    .header .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
    }

    .header .info {
        color: grey;
        background-color: #fff;
    }
}

/* Logo */

.logo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 9.5%;
}

.graficlogo {
  box-sizing: border-box;
  max-width: 100%;
}
